/* Fonts */

@font-face {
  font-family: regularFont;
  src: url("static/Quicksand-Regular.woff");
}

@font-face {
  font-family: mediumFont;
  src: url("static/Quicksand-Medium.woff");
}

@font-face {
  font-family: lightFont;
  src: url("static/Quicksand-Light.woff");
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: regularFont;
  font-size: 65px;
  color: #d1d1d1;
  background-color: #1d1d20;
}

button {
  padding: 1.2em 2.7em;
  font-size: 11px;
  font-family: mediumFont;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 900;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
 

/* Landing */
.landing-container {
  display:flex;
}

.landing-container-left {
  width: 50%;
  
}



.landing-container-right {
  width: 50%;
  height: 1000px;
  text-align: center;
}

.landing-title h1 {
  text-align: inherit;
  font-family: lightFont;
  font-weight: 50;
  margin: 200px 250px 0 0;
}

.landing-info {
  font-size: 40px;
  margin: 30px 200px 0 0;
  
}

.landing-info h3 {
  font-family: regularFont;
  font-weight: 400;
}

/* Intro */

.intro-container {
  display: flex;
  height: 700px;
}

.intro-container h3 {
  font-size: 50px;
} 

.intro-details {
  font-size: 30px;
  margin: 50px 0 0 50px;
}

.intro-lists {
  font-size: 30px;
  margin: 50px 0 0 50px;
}


.intro-lists li {
  margin-top: 14px;
  list-style: none;
}

.intro-lists p {
  margin-top: 40px;
  font-weight: bold;
}

.intro-container-left {
  width: 50%;
  text-align: center;
}

.intro-container-right {
  width: 50%;
  text-align: center;
}

/* Knowledge */

.knowledge-container {
  display: flex;
  height: 800px;
}


.knowledge-table {
  display: flex;
  margin: auto;
  background-color: blueviolet;
  width: 70%;
  height: 90%;
}

.knowledge-column {
  width: 30%;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto 0 auto;
  /* padding: 30px 20px; */
  text-align: center;
  position: relative;
}

.knowledge-column h3{
  font-size: 50px;
}

.knowledge-column h4{
  font-size: 26px;
}

.knowledge-column p, h3{
  margin-top: 20px;
}

.knowledge-column p {
  font-size: 16px;
}

.knowledge-description {
  padding: 0 15px 0 15px;
  margin: 10px 0 25px 0;
}

.knowledge-icon {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
}

.knowledge-example{
  margin-top: 20px;
}

.knowledge-see-more {
  width: 50%;
  height: 15%;
  align-self: flex-end;
  position: absolute;
  bottom: 10px;
  right: 85px;
  justify-content: center;
}

.knowledge-see-more button {
  position:absolute;
  bottom: 0;
  left: 28px;
}

.knowledge-see-more-anim {
  height: 65%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.knowledge-see-more-github-button {
  width: 100%;
  height: 50%;
  background-color: #000;
  border-radius: 20px;
  
}



