/* Fonts */

@font-face {
  font-family: regularFont;
  src: url("static/Quicksand-Regular.woff");
}

@font-face {
  font-family: mediumFont;
  src: url("static/Quicksand-Medium.woff");
}

@font-face {
  font-family: lightFont;
  src: url("static/Quicksand-Light.woff");
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: regularFont;
  font-size: 65px;
}
 

/* Landing */
.landing-container {
  display:flex;
}

.landing-container-left {
  width: 50%;
  
}



.landing-container-right {
  width: 50%;
  height: 1000px;
  text-align: center;
}

.landing-title h1 {
  text-align: inherit;
  font-family: lightFont;
  font-weight: 50;
  margin: 200px 250px 0 0;
}

.landing-info {
  font-size: 40px;
  margin: 30px 200px 0 0;
  
}

.landing-info h3 {
  font-family: regularFont;
  font-weight: 400;
}

/* Intro */

.intro-container {
  display: flex;
  height: 700px;
}

.intro-container h3 {
  font-size: 50px;
} 

.intro-details {
  font-size: 30px;
  margin: 50px 0 0 50px;
}

.intro-lists {
  font-size: 30px;
  margin: 50px 0 0 50px;
}


.intro-lists li {
  margin-top: 14px;
  list-style: none;
}

.intro-lists p {
  margin-top: 40px;
  font-weight: bold;
}

.intro-container-left {
  width: 50%;
  text-align: center;
}

.intro-container-right {
  width: 50%;
  text-align: center;
}

/* Knowledge */

.knowledge-container {
  display: flex;
  height: 800px;
}

.knowledge-table {
  margin: auto;
  background-color: blueviolet;
  width: 70%;
  height: 90%;
}