/* Fonts */

@font-face {
  font-family: regularFont;
  src: url("static/quicksand-variablefont_wght-webfont.woff");
}

@font-face {
  font-family: mediumFont;
  src: url("static/Quicksand-Medium.woff");
}

@font-face {
  font-family: lightFont;
  src: url("static/Quicksand-Light.woff");
}

/* Default CSS */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: lightFont;
  font-weight: 100;
  font-style: normal;
  font-size: 65px;
}
 

/* Landing */

